@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Default margin and padding set */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.completed{
    text-decoration: line-through;
}
/* Set body height and width */
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling todo window */
.container{
    padding: 15px;
    width: 60%;
    height: 90%;
    box-shadow: 0px 0px 300px 50px rgba(130,120,130,1);
    /* border: 2px solid; */
}
/* Styling Todo App heading */
#header{
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(39, 26, 26);
    padding: 5px;
    border-bottom: 2px solid black;
}
/* Styling task creation form  */
.form_container{
    margin: 10px 0px;
    width: 100%;
}
.form_description{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.form_data{
   display: flex;
   margin: 15px 0;
   padding-bottom: 8px;
   border-bottom: 2px solid black;
}
.form_data>div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form_category{
    border-right: 2px solid black;
}
.form_date{
    padding-left: 10px;
}
.form_date, .form_category{
    padding-right: 20px;
}
input, select{
    border: 0 solid;
    outline: none;
    margin: 5px 0px;
}
/* Task creation form end */

/* Styling buttons start */
.buttons{
    margin:20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 130px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 600;
    border: 0 solid;
    letter-spacing: 1px;
}
button i{
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

#add_button{
    background-color: rgb(22, 65, 185);
    margin-right: 40px;
}
#delete_button{
    background-color: red;
    top: 35%;
    left: 55%;
}
/* Styling buttons end here */
/* Task List container / display start here */
.taskList_container{
    margin-top: 10px;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}
.taskList_header{
    width: 100%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid black;
}
.taskList_header h2{
    font-size: 20px;
    color: rgb(72, 61, 61);
}

.warning_title{
    color: rgb(128, 128, 125);
}

#delete_form{
    margin-top:20px ;
}
/* Styling card for showing each task */
.card{
    height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 2px;
   font-size: 14px;
}
.card .task_details{
    width: 100%;
    margin: 0px 10px;
}
.card .task_due_date{
    color: rgb(78, 71, 71);
}

.card .task_category_section{
    border-radius: 10px;
    height: 40px;
    display: grid;
    place-items: center;
    padding: 0px 10px;
    /* color: white; */
}
.Personal{
    background-color: cornflowerblue;
}
.School{
    background-color: brown;
}
.Work{
    background-color: chartreuse;
}
.Other{
    background-color: rgb(230, 32, 160);
}